[[source]]
name = "pypi"
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true

[dev-packages]

[packages]
ddt = "==1.2.1"
jsonpath = "==0.82"
celery-once = "==3.0.1"
celery = "==4.3.0"
flask = "==1.1.1"
urllib3 = "==1.22"
aliyun-python-sdk-dyvmsapi = "==3.0.2"
gevent = "==1.4.0"
xlrd = "==1.1.0"
requests = "==2.22.0"
aliyun-python-sdk-core = "==2.13.12"
jpype1 = "==0.7.0"
gunicorn = "*"
six = "*"
redis = "*"
Flask-Cors = "==3.0.8"
conda = "*"

[requires]
python_version = "3.6"
