ddt==1.2.1
jsonpath==0.82
Flask_Cors==3.0.9
celery_once==3.0.1
celery==4.3.0
Flask==1.1.1
urllib3==1.22
aliyun_python_sdk_dyvmsapi==3.0.2
gevent==1.4.0
xlrd==1.1.0
requests==2.22.0
aliyun_python_sdk_core==2.13.12
JPype1==0.7.0
gunicorn
six
redis